@model IEnumerable<Matgary.DAL.Category>

@{
    ViewBag.Title = "Index";
}
@if (Session["Role"].ToString() == "Admin")
{
    <p class="mt-3">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
}
    <p></p>
@if (Session["Role"].ToString() == "SuperAdmin")
{
    <div style="padding: 20px;border: 1px solid blue;margin-bottom: 20px;">
        <div class="m-auto" style="width: 420px">
            @using (Html.BeginForm("Index", "Categories", FormMethod.Get, new { id = "StoreForm" }))
            {
                <div class="d-flex align-items-center">
                    <label class="mr-1">Filter By Store : </label>
                    @Html.DropDownList("store", ViewBag.Stores as SelectList, "Select Store", new { @class = "form-control" })
                </div>
            }
        </div>
    </div>

}

<div class="row card-columns">
    @foreach (var item in Model)
    {
        <div class="col-3 card">
            <img class="card-img-top img-fluid" style="height: 250px; width: 250px;"
                 src="~/Content/images/@item.ImageUrl" alt="Card image cap">
            <div class="card-body">       
                <h5>@item.Number</h5>
                <h5 class="card-title">@item.Title</h5>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <p class="card-text"><small class="text-muted">Last updated @item.DateTime</small></p>
            </div>
        </div>

    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('select#store').change(function () {
                $('#StoreForm').submit();
            });
        });
    </script>
}